%h1.textCenter Welcome back friend!

= form_tag login_path, :id => 'login_user' do 
	- if flash.now[:error]
		.error_messages
			%h1 Something Went Wrong
			%ul
				%li 
					=flash.now[:error]
	%fieldset
		= text_field_tag :email, params[:email], :placeholder => "Email address"
		= password_field_tag :password, params[:password], :placeholder => "Password"
		= submit_tag "Log In"
