%h1.textCenter
  What's
  %span.lobster going
  on in...
%form#homeSearch{:action => "", :method => "POST"}
  %fieldset
    %input#homeInput{:placeholder => "Type a city...", :type => "text"}
      %input#homeSubmit{:disabled => "", :type => "submit", :value => ""}
%form#addEventForm{:action => "", :method => "POST"}
  %fieldset
    %input#addEvent{:type => "button", :value => "Add Event"}